# Conjunto de datos para la entidad "Proveedor"

In [26]:
# Uso del Pip install para poder importar la librería faker
!pip install faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: faker in /usr/local/lib/python3.7/dist-packages (15.3.2)
Requirement already satisfied: typing-extensions>=3.10.0.1 in /usr/local/lib/python3.7/dist-packages (from faker) (4.1.1)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)

In [57]:
# Importar librería pandas para manejar y analizar datos
import pandas as pd
# Importar librería uuid para crear identificadores únicos.
import uuid
# Importar librería random para generar datos aleatorios.
import random
# Importar el paquete faker para generar datos fasos.
from faker import Faker

In [37]:
# Delimitación del rango del número de elementos.
num_proveedor = 5000

In [58]:
# Una lista de 7 características para la entidad proveedor
features = [
    "id",
    "name",
    "kind",
    "email",
    "phone",
    "description",
    "status"
]
# Creación de un DF para estas características
df = pd.DataFrame(columns=features)

In [59]:
# Id del proveedor
df['id'] = [uuid.uuid4().hex for i in range(num_proveedor)]
"""
Uso de la biblioteca uuid para generar una cadena aleatoria de caracteres 5000 veces.
Por consigiente, se lo asigna al atributo ID en el marco de datos.
"""

'\nUso de la biblioteca uuid para generar una cadena aleatoria de caracteres 5000 veces.\nPor consigiente, se lo asigna al atributo ID en el marco de datos.\n'

In [60]:
print(df['id'].nunique()==num_proveedor)
"""
En caso de desear asegurarse de que no se repitieron las ID,
puede realizar una verificación simple en el marco de datos con lo siguiente:
"""

True

'\nEn caso de desear asegurarse de que no se repitieron las ID,\npuede realizar una verificación simple en el marco de datos con lo siguiente:\n'

In [61]:
# Tipo del Proveedor
kind = ["Electronics",
       "Chemistry",
       "na"]

In [62]:
df['kind'] = random.choices(
    kind, 
    weights=(35,35,30), 
    k=num_proveedor
)
"""
Con la lista generada de las opciones de tipos de proveedor, se proporciona la
función de opciones pesos para cada función y la cantidad de opciones hacer representadas
por "k". Por consiguiente, se asignó al atributo de "kind" del marco de datos.
"""

'\nCon la lista generada de las opciones de tipos de proveedor, se proporciona la\nfunción de opciones pesos para cada función y la cantidad de opciones hacer representadas\npor "k". Por consiguiente, se asignó al atributo de "kind" del marco de datos.\n'

In [64]:
# Nombre del Proveedor
# Creación de instancias de falsificador
faker = Faker()

def name_gen(guy):
    """
    Genera rápidamente un nombre del proveedor
    """
    faker.company()
    
    return faker.company()
    
# Generación de nombres para cada proveedor
df['name'] = ['Company '+name_gen(i) for i in df['kind']]

In [65]:
# Email del proveedor
def emailGen(name, duplicateFound=False):
    """
    Genera una dirección de correo electrónico aleatoria basada en el nombre dado. 
    Agrega un número al final si se encontró una dirección duplicada.
    """
    # Nombre de dominio falso para usar
    dom = "@pymes.com"
    
    # Mayúsculas y minúsculas
    name = name.lower().split(" ")
    
    # Carácter aleatorio para insertar en el nombre
    chars = [".", "_"]
    
    new_name = name[0] + random.choice(chars) + name[1] 
    
    # Distinguir aún más el correo electrónico si se encontró un duplicado
    if duplicateFound:
        
        # Número aleatorio para insertar al final
        num = random.randint(0,100)
        
        # Insertar al final
        new_name = new_name + str(num)
        
    # Devolver la dirección de correo electrónico con el nombre de dominio adjunto
    return new_name + dom

In [66]:
emails = []

for name in df['name']:
    
    # Generación del correo electrónico
    email = emailGen(name)
    
    # Bucle hasta que se genere un correo electrónico único
    while email in emails:
        
        # Crear un correo electrónico con un número aleatorio
        email = emailGen(name, duplicateFound=True)
    
    # Adjuntar el nuevo correo electrónico a la lista
    emails.append(email)
    
df['email'] = emails

In [67]:
# Número de Teléfono del proveedor
# import module
import random as r
from random import seed
from datetime import datetime
num=[]
size = 10

for i in range(0, num_proveedor):
  random.seed(datetime.now())
  valores = [0,1,2,3,4,5,6,7,8,9]
  num=(''.join([str(random.choice(valores)) for i in range(size)]))
  df.phone[i]=num

In [68]:
# Descripción del proveedor
import string
import random
bio=[]
length_of_string = 20
for i in range(0, num_proveedor):
  random.seed(datetime.now())
  bio=(''.join(random.SystemRandom().choice(string.ascii_letters + string.digits) for i in range(length_of_string)))
  df.description[i] =bio

In [69]:
# Estado del proveedor
status = ["Active", "Inactive"]

In [70]:
df['status']= random.choices(
    status, 
    weights=(45,55), 
    k=num_proveedor
)
"""
Con la lista generada de las opciones de estados, se proporciona la
función de opciones pesos para cada función y la cantidad de opciones hacer representadas
por "k". Por consiguiente, se asignó al atributo de "status" del marco de datos.
"""

'\nCon la lista generada de las opciones de estados, se proporciona la\nfunción de opciones pesos para cada función y la cantidad de opciones hacer representadas\npor "k". Por consiguiente, se asignó al atributo de "status" del marco de datos.\n'

In [71]:
# Guardar el conjunto de datos
df.to_csv('dataset_proveedor.csv')

In [72]:
# Mostrar el conjunto de datos
pd.read_csv('dataset_proveedor.csv', index_col=0)

,id,name,kind,email,phone,description,status
0,548943ff619c4beea232f018f34aa74a,"Company Smith, Welch and Whitney",Electronics,"company_smith,@pymes.com",5100466306,nsLx6m2PcYLdtQPwr3SC,Inactive
1,ece506e1ff9f455fb207a5183c97b791,Company Johnson-Griffith,na,company.johnson-griffith@pymes.com,8100120265,FwSzk7KmKB33qlsnnysj,Active
2,c44b9442f5c34b168dd48de49b90ac87,Company Powell and Sons,Electronics,company.powell@pymes.com,7368357686,xN1DIUa8wnLHuIdX8BTZ,Active
3,c88d1417b7b94ba99687b05d92ef8c0d,Company Stone-Barajas,na,company.stone-barajas@pymes.com,8188320836,B2SUS9t71lqhTIoY8FzO,Active
4,f2bb3c54379a492a96c7c34eee0f40af,Company Wu-Chambers,na,company_wu-chambers@pymes.com,6801955437,4xz6IVaqqIDtZEVwISro,Active
...,...,...,...,...,...,...,...
4995,9738bb6cbd8545518ae2f72ce70e5471,"Company Gordon, Powell and Jackson",na,"company.gordon,68@pymes.com",9094804019,C4UL5jJlmg3DH20Pni2q,Inactive
4996,d0f022c65c694118b72e82b686202d56,Company Stewart PLC,Electronics,company.stewart@pymes.com,1069704895,Kmlj6SBb6PQ28LaeImQi,Active
4997,a0b39d9652be4d1bb41e4109cae52495,"Company Francis, Maynard and Wood",Electronics,"company.francis,@pymes.com",6529352472,uxmKy3gYB4h3S4HnibDQ,Inactive
4998,439d78cc8f9b4221b6bcbfe4391aa7a2,Company Perry Group,Chemistry,company.perry44@pymes.com,4915413935,uqlpVYqyjsKSFhbohI80,Active
4999,7125718b6d9942a9bf8ca496d5a6f6d3,"Company Mcgee, Davis and Rangel",Electronics,"company_mcgee,@pymes.com",3595585541,AIAb5MeteWGweqNBtcBw,Active